
/*body background color*/
body {
    background: #6c818c;
}


/*Heading/main starting bg-image*/
.main-image {
    background: url("background.jpg");
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    -webkit-text-stroke: 1px #0d173d;
}
/*title*/
.title {
    font-family:'Kalam', serif;
    text-align: center;
    margin-top: 2rem;
}

.align-self-center {
    display: inline-flex;
}
/*nav-bar */
.navbg {
    background-color: #d5ceba;
    border: 3px solid #9f9494;
}
.align-self-center {
    display: inline-flex;
}

.aa {
    text-align: center;
    font-size: 1vmin;
    padding-bottom: 10rem;
}
/*start of the bio*/
img[alt="Alisha's MugShot"] {
    width: 75%;
    margin: 30px;
}
p {
    font-size:20px;
}
.bio.container.mt-5.rounded > h1{
    padding: 15px;
    text-align: center;
}

/*Bio picture*/
.rounded-circle {
    flex-shrink: 0;
    margin: 20px;
    height: calc(280px + 6vw);
    width: calc(100px + 6vw);
    border: calc(8px + 0.2vw) solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(64, 89, 115, 0.5);
}


/*on the go*/
img[alt='pink'] {
    flex-shrink: 0;
    margin: 20px;
    height: calc(380px + 10vw);
    width: calc(250px + 4vw);
    border: calc(3px + 0.2vw) solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 10px 10px rgb(115, 115, 115);
}

.service {
    margin-top: 50px;
    padding-top: 25px;
    margin-bottom: 50px;
    /*using important to get better color than a bootstrap color*/
    background-color: #bedbe7;
    font-family:'Kalam', serif;
}
.styles {
    margin-top: 50px;
    /*using important to get better color than a bootstrap color*/
    background-color: #a5cde1;
    font-family:'Kalam', serif;
    padding: 40px;
    font-size: 20px ;
}

.styles1 {
    margin-top: 15px;
}

/*form*/
.bio {
    margin-top: 50px;
    /*using important to get better color than a bootstrap color*/
    background-color: #d5ceba;
    font-family:'Kalam', serif;
}

.form {
    margin-top: 50px;
    background-color: #eedf98;
    font-family:'Kalam', serif;
}

/*Alisha's styles and specialty's*/
img[alt='color2'] {
    flex-shrink: 0;
    margin: 20px;
    height: calc(330px + 8vw);
    width: calc(270px + 6vw);
    border: calc(3px + 0.2vw) solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 10px 10px rgb(115, 115, 115);
}
.li {
    font-size: 20px;
}
.services {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family:'Kalam', serif;
    font-size: xx-large;
}

.h2, h2 {
    text-align: center;
    font-size:40px;
}

/*Pricing*/
.pricing {
    font-size: 20px;
}

/*carousel*/
.carousel{
    margin: 0 auto;
    width: 50%;
}
