body {
    background-color: #000000;
    color: white;
    background-repeat: no-repeat !important;
}

img[alt="blue"] {
    width: 59rem;
    margin-top: 50px;
    float: left;
    padding: 0;
    height: 22rem;
}
img[alt="sissors"] {
    width: 59rem;
    padding-top: 15px;
    margin-top: -6rem;
    height: ;
}
img[alt="colie"] {
    height: 333px;
    width: 947px;
    margin-top: 50px;
    float: left;
    padding: 0;
}
div[class='container'] div:nth-child(2) {
    margin-top: 150px;
    text-align: center;
}
img[alt="hair1"] {
    width: 59rem;
    height: 24rem;
    margin-top: -10rem;

}
img[alt="mj"] {
    height: 80rem;
    margin-top: -10rem;

}

.col {
    color: white;
}

.row1 {
    height: 10rem;
    width: 1rem;

}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 2500px;
}

.form-control {
    display: block;
    width: 45%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #fff;
    background-clip: padding-box;
    border: 5px solid #000000;
    transition: border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
    margin-bottom: 0;

}
.navbar-light .navbar-brand {
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}